.App {
  text-align: center;
  font-family: 'Lobster', cursive;
}
/* .image {
  background-image: url("/image/01.jpeg");
  height:100vh;
  width: 100vw;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
} */